.begriffeMenueleiste{
    display: block;
    font-size: 15.5px;
    padding: 0;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 8px;
    text-decoration: none;
    color: white;
}
.copyright{
    color: white;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 0;
    text-align: center;
    font-size: 12px;
}
h4{
    font-size: 2.5vh;
    text-align: left;
    text-transform: uppercase;
    padding-top: 3vh;
    font-weight: bold;
    padding-bottom: 0;
    margin: 0;
}
#alleBegriffe{
    padding: 10px;
}
#menueleiste{
    text-align: center;
    text-transform: uppercase;
}
body{
    font-family: "Arial", sans-serif;
    margin: 0;
    color: white;
    /*
    background: url("wtf_logo_kleine_dunkel.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
html::before {
    content: ' ';
    display: block;
    background-image: url('wtf_logo_kleine_dunkel.png');
    background-position: center;
    background-size: cover;
    height: 100vh; width: 100vw;
    top: 0; bottom: 0; left: 0; right: 0;
    position: fixed;
    z-index: -10;
}
#logo{
    height: 25vh;
    /*max-height: 90px;
    min-height: 70px;*/
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    display: block;
    margin: 0 auto;
}
.allgemeines{
    text-align: center;
    margin: auto;
    display: block;
    padding: 15px;
}
.kontakt{
    text-align: center;
    margin: auto;
    display:  block;
    padding: 15px;
}
.weitere{
    text-align: center;
    margin: auto;
    display:  block;
    padding: 15px;
}
.socialMedia{
    text-align: center;
    margin: auto;
    display: block;
    padding: 15px;
}
.email{
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    padding:0;
    text-align: center;
}
.textUnten{
    text-align: center;
    font-size: 17px;
    line-height: 22px;
    color: white;
    margin: auto;
    font-weight: 200;
    padding-bottom: 5px;
}
.linksUnten{
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: white;
}
.linksUnten:hover{
    text-decoration: underline;
    color:white;
}
.linieUnten{
    border-top: 1px solid white;
    padding: 0;
    margin: auto;
    margin-bottom: 5px;
    width: 60px;
}
a{
    text-decoration: underline;
    color: black;
}
hr{
    width: 90vw;
    background-color: white;
    height: 0;
    border: none;
    margin-bottom: 24px;
    padding-bottom: 2px;
}
.paddingGross{
    padding-bottom: 20px;
}
.panndingKlein{
    padding-top: 5px;
    padding-bottom: 5px;
}
.paraSpiegelstrich{
    padding: 0;
    margin: 0;
    margin-right: 3px;
    display: inline-block;
    vertical-align: top;
}
.paraPunkt{
    padding: 0;
    display: inline-block;
    margin: 0;
}
.divPunkt{
    padding: 0;
    display: inline-block;
    margin: 0;
    max-width: calc(85vmin - 15px);
    text-align: left;
}
.einPunkt{
    padding: 0;
    margin: 0;
    text-align: left;
}
p{
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-align: left;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main{
    width: 85vmin;
    min-width: 50%;
    margin: auto;
    padding-bottom: 40px;
    text-align: center;
}
h2{
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 2vh;
}
#hierLink{
    font-size: 14px;
}
h3{
    font-size: 3vh;
    text-align: left;
    text-transform: uppercase;
    padding-top: 3vh;
    font-weight: bold;
    padding-bottom: 0;
    margin: 0;
}
.produktklasse{
    padding-top: 10px;
    padding-bottom: 10px;
}
.heading{
    width: 80%;
    margin: auto;
}
#decks{
    width: 100%;
    height: auto;
}
.produktfoto{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
video{
    display: block;
    height: calc(85vmin * 0.5625);
    min-height: calc(50vw * 0.5625);
    width: 85vmin;
    min-width: 50vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    padding: 0;
}
.pUnten{
    font-size: 14px;
    line-height: 26px;
    color: white;
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 20px;
}
.footer{
    background-color: black;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.9;
}
.teammitglied{
    padding: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}
.teamFoto{
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}
.name{
    font-size: 16px;
    line-height: 16px;
    color: black;
    padding-top: 0px;
    padding-bottom: 6px;
    font-weight: bold;
}
.position{
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: black;
    padding-top: 0px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.instaTeam{
    font-size: 16px;
    line-height: 16px;
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 400;
    text-decoration: underline;
    text-align: left;
    display: block;
}
::-moz-selection{
    background: #111;
    color: #fff;
}
::selection{
    background: #111;
    color: #fff;
}