html::before {
    content: ' ';
    display: block;
    background-image: url('hintergrund.png');
    background-position: center;
    background-size: cover;
    height: 100vh; width: 100vw;
    top: 0; bottom: 0; left: 0; right: 0;
    position: fixed;
    z-index: -10;
}
.showfoto{
    width: 31%;
    height: auto;
    margin: 0.5%;
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    text-align: left;
}
.halbgroß{
    width: 49%;
    display: inline-block;
    height: auto;
    margin: auto;
}
.dreiviertelgroß{
    width: 74%;
    display: inline-block;
    height: auto;
    margin: auto;
}
.plakat{
    width: 80vw;
    max-width: 75vh;
    height: auto;
}
.img_klein{ 
    width: auto;
    max-height: 100vmin;
}
.mitte{
    text-align: center;
}
.links{
    text-align: left;
}
fieldset{
    text-align: left;
    font-size: 18px;
}
.kursiv{
    font-style: italic;
}
.footer{
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
img{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main{
    width: 85vmin;
    min-width: 50%;
    margin: auto;
    padding-bottom: 40px;
    text-align: center;
}
.songteil{
    margin: auto;
    text-align: center;
}
.klammern{
    margin: auto;
    text-align: left;
}
p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
hr{
    width: 90vw;
    background-color: white;
    height: 0;
    border: none;
    margin-bottom: 24px;
    padding-bottom: 2px;
}
.linksUnten:hover{
    text-decoration: underline;
    color:white;
}
a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.logo{
    height: 20vmin;
    max-height: 200px;
    min-height: 135px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
    display: block;
    margin: 0 auto;
}
body{
    font-family: "Arial", sans-serif;
    margin: 0;
    color: white;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
}
.begriffeMenueleiste{
    display: block;
    font-size: 15.5px;
    padding: 0;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 8px;
    text-decoration: none;
    text-align: center;
}
.copyright{
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 0;
    text-align: center;
    font-size: 12px;
}
.menueleiste{
    text-align: center;
    text-transform: uppercase;
}
.alleBegriffe{
    padding: 10px;
}
.gruppeUnten{
    text-align: center;
    margin: auto;
    display: block;
    padding: 15px;
}
.textUnten{
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin: auto;
    font-weight: 200;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.hrKlein{
    width: 35%;
    background-color: white;
    height: 0;
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 1px;
}
.hrMini{
    width: 10%;
    background-color: white;
    height: 0;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 1px;
}
.linksUnten{
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
}
.copyright{
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin: auto;
    font-weight: 200;
    padding-bottom: 5px;
    text-transform: uppercase;
}
h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    margin: auto;
}
h3{
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;

}
h4{
    font-size: 15.5px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 0;
    margin: 0;
}
.termin{
    text-align: center;
    margin: auto;
}
.uppercase{
    text-transform: uppercase;
    line-height: 2.5;
}
button{
    background-color:rgb(210, 0, 0);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(210, 0, 0); 
    color: white;
    padding: 12px 27px;
    font-size: 16px;
    margin: auto;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    display: block;
}
.pfeil{
    height: 12px;
    width: auto;
    padding: 0;
    padding-left: 5px;
    margin: 0;
}
.mittig{
    text-align: center;
}
.nachrechts{
    text-align: right;
}
.nachlinks{
    text-align: left;
}